
@{
    ViewBag.Title = "OO Basics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <ul>
        <li>Abstraction</li>
        <li>Encapsulation</li>
        <li>Polymorphism</li>
        <li>Inheritance</li>
    </ul>
</div>