
@{
    ViewBag.Title = "OO Principles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <ul>
        <li>Separate what stays the same from what varies and encapsulate what varies.</li>
        <li>Favor composition over inheritance.</li>
        <li>Program to interfaces, not implementations.</li>
        <li>Classes should be open for extension, but closed for modification.</li>
    </ul>
</div>