@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Design Toolbox</h1>
    <p class="lead">Design Toolbox is a collection of Object-Oriented basics, principles, and patterns arranged for easy study and review.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>OO Basics</h2>
        <p>These are the basic building blocks.</p>
        @Html.ActionLink("Go to Basics", "Basics", "Tool")
    </div>
    <div class="col-md-4">
        <h2>OO Principles</h2>
        <p>These are some solid principles.</p>
        @Html.ActionLink("Go to Principles", "Principles", "Tool")
    </div>
    <div class="col-md-4">
        <h2>OO Patterns</h2>
        <p>These are some classic patterns with an emphasis on the most common.</p>
        @Html.ActionLink("Go to Patterns", "Patterns", "Tool")
    </div>
</div>